version: '3.4'

services:
  ideas-server:
    image: ideasserver
    depends_on: 
      - wordpress-db
      - initiatives-db
    build:
      context: .
      dockerfile: ideas-server/ideas-server/Dockerfile

  issues-server:
    image: issuesserver
    depends_on: 
      - wordpress-db
      - initiatives-db
    build:
      context: .
      dockerfile: issues-server/issues-server-server/Dockerfile

  initiatives-db:
    image: coeoctava.azurecr.io/initiatives-db:v1.0.2
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: OctavaDev100!
      MSSQL_PID: Developer

  wordpress-db:
    image: coeoctava.azurecr.io/wordpress-db:v1.0.5
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: octavadev
      MYSQL_DATABASE: octportalwordpress

  wordpress:
    depends_on: 
      - wordpress-db
    image: coeoctava.azurecr.io/wordpress:v1.0.3
    ports:
      - "8000:80"
      - "9000:9000"
    restart: always
    environment:
      WORDPRESS_DB_HOST: wordpress-db:3306
      WORDPRESS_DB_NAME: octportalwordpress
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: octavadev

  initiatives-vue:
    image: coeoctava.azurecr.io/initiatives-vue:dev-1.0.3444
    ports:
      - "8080:8080"
    restart: always
    volumes:
      - ../plugins/ideas/:/app   

  nginx:
    depends_on:
      - wordpress
      - ideas-server
      - initiatives-vue
    image: coeoctava.azurecr.io/nginx:dev-latest
    restart: always
    ports:
      - "80:80"


  ideas-integration-remedy:
    depends_on: 
      - ideas-server
    image: ideasintegrationremedy
    build:
      context: .
      dockerfile: ideas-integration-remedy/ideas-integration-remedy/Dockerfile

  ideas-integration-remedy-sblistener:
    depends_on: 
      - ideas-server
    image: ideasintegrationremedysblistener
    build:
      context: .
      dockerfile: ideas-integration-remedy/ideas-integration-remedy-sblistener/Dockerfile

  ideas-integration-webhooks:
    image: ideasintegrationwebhooks
    build:
      context: .
      dockerfile: ideas-integration-webhooks/Dockerfile

  ideas-integration-remedy-watcher:
    image: ${DOCKER_REGISTRY}ideasintegrationremedywatcher
    build:
      context: .
      dockerfile: ideas-integration-remedy/ideas-integration-remedy-watcher/Dockerfile

  webhook: 
    image: webhooks:v1.0.0
    ports:
      - "9001:9001"
    restart: always

    volumes:
      - C:\Users\CoopDev\Desktop\webhook-emailer\webhook_emailer:/app

volumes:
  wp-dbdata:



